<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijagang</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <header><b>HIJAGANG</b></header>
    <p class="welcome"><i><b>Welcome to Hijagang of Kangla</b></i></p>
    <div class="title">
        <h3 style="width:150px; color: rgb(13, 103, 82);"><b>Description</b></h3>
        <p  class="Description">The <b>Hijagang</b> (Meitei pronunciation: <b>hi-ja-gang</b>) is a boathouse inside the kangla fort in Imphal, Manipur.
        There are 4(four) boats inside the <b>"Hijagang"</b>. The middle 2(two) boats are to be used by the royal families known as <b><i>"Hiyang Hirel"</i></b>
        and other 2(two) are for common people called <b><i>"Tanna Hee"</i></b>. These boats are used during <b>"Boat Race"</b> festival.      
        <br>
        <br>
        It is believed that the construction of boat started during <b>Luwang Ningthou Punshiba</b> who ruled in the <b>7th century A.D.</b> Boats were constructed 
        and designed from a single log. Luwang Ningthou Punshiba was anxi<span id="points">...</span><span id="moreText">ous to find a person who would sit first on his new boat.
        He sent his brother <b><i>Pudangkol Khutkhoiba</i></b> who turned himself into a <b><i>"Sangai"</i></b> (A brow antlered deer found only in Manipur) but died under unusual circumstances. 
        In memory of his beloved elder brother, he kept the antler of <i><b>"Sangai"</b></i> on the head position of the boat. The front position of the <i><b>"Hiyang-Hiren"</b></i>
        is decorated with a long serpent representing the body of <b>"Taoroinai"</b> a vehicle of snake God <b>"Pakhangba"</b>, on the upper part of the boat. These designs
        are shown in order to gain the characters of <b>"Taoroinai"</b> since this boat had been in use as vehicle of Pakhangba, the Supreme Deity of Manipur.
        <br>
        <br>
        At the stern of this boat is the head of <b>"Khuman Kwakpa Leitompamba"</b>. The symbol is associated with a historical event that took place during the time
        of Meitei King <b>Thawanthaba (1195 -1231 A.D.)</b>. During the reign of Thawanthaba there arose some enemity between the <i><b>"Meitei"</b></i> and <i><b>"Khuman"</b></i> kingdoms. The great
        Khuman warrior <b><i>"Kwakpa Leithompamba"</i></b> attempted to kill the Meiteis. However, Taoriya Elangba, the great warrior of Meitei, noticed about this conspiracy and
        then he pulled up Khuman Kwakpa and beheaded. The Meiteis brought the chopped off head of <b><i>Khuman Kwakpa</i></b> and placed it on the stern of boats as symbol of victory
        over the Kuman Kingdom.</span></p>
        <button onclick="toggleText()" id="textButton"><i>see more</i></button>
    <br>
    <br>
    </div>
    <div class="image" >
        <img src="../images/hijagang.webp" height="210px" width="375px">
  </div>
  <br>
  <div class="construction">
        <b><h3 style=" color: rgb(13, 103, 82);">Construction and Inauguaration</h3></b>
        <p class="inauguration">The construction of the <i><b>Hijagang</b></i> watercraft storage building started in the year 2010 and completed in the year 2013.
        On 21 August 2013, with the performances of necessary religious rites and rituals by the <b><i>Amaibas</i></b>(Meitei for <b><i>'priests'</i></b>) and the <i><b>Amaibis</b></i>
        (Meitei for <i><b>'priestesses'</b></i>) in the early morning, the Hijagang was inaugurated by <i><b>Okram Ibobi Singh</b></i>, the then Chief Minister of Manipur, 
        who was also the then President of <b>"Kangla Fort Board"</b></p>
  </div>
  <br>
  <div class="features">
        <h3 style="color: rgb(13, 103, 82);"><b>Crafting processes and inaugural</b></h3>
        <p class="crafting">According to RK Nimai, the then Commissioner of the Department of Arts and Culture, Government of Manipur, the two kinds 
        of watercrafts were made from special kind of trees brought from <b>Khamsom village</b> in Senapati district of Manipur. The crafting processes
        were initiated in <b>Khamsom</b> in the year <b>2007</b>.Later, the woods for crafting the <b><i>Hiyang Hirens</i></b> were brought to the Kangla on 6 June 2007,
        with the work of sculpturing getting commenced 2 days later.The watercrafts were made by a four-member team under the leadership of craftsman <b>L. Thoiba</b>. Later,
        the watercrafts were inaugurated on 19 February 2010 (3 years before the completion of the building construction).
        <br>
        <br>
        <b>Crafting materials used:</b>
        <br>
        <br>
        The <b>hiyang hiren</b> are made of <i>uningthou</i> and the <i>tanna hi</i> of <b>tairen.</b>
        </p>
  </div>
  <div class="image1">
    <img src="../images/hijagang1.webp" height="210px" width="375px">
</div>
  <div class="table">
    <h3 style="color: rgb(13, 103, 82);"><b>Lengths, widths and heights</b></h3>
  <table class="lengthtable">
    <tbody><tr>
    <th>Types of Watercrafts
    </th>
    <th>Length
    </th>
    <th>Width
    </th>
    <th>Height
    </th>
    </tr>
    <tr>
    <td>Hiyang Hiren of Ibudhou
    </td>
    <td>64.2 feet
    </td>
    <td>36 inches
    </td>
    <td>63 inches
    </td>
    </tr>
    <tr>
    <td>Hiyang Hiren of Ibendhou
    </td>
    <td>60 feet
    </td>
    <td>35 inches
    </td>
    <td>57 inches
    </td>
    </tr>
    <tr>
    <td>1st "Tanna Hee"
    </td>
    <td>52 feet
    </td>
    <td>31.5 inches
    </td>
    <td>
    </td>
    </tr>
    <tr>
    <td>2nd "Tanna Hee"
    </td>
    <td>51 feet
    </td>
    <td>31 inches
    </td>
    <td>
    </td>
    </tr></tbody></table>
</div>
  <script src="../javascript/jscript.js"></script>
</body>
</html>