<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../stylesheets/style2.css">
</head>
<body style="background-color: black;">
    <div class="topnav">
        <a class="active" href="http://192.168.26.152:5000/">Home</a>
        <a href="#project">Projects</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
      <div class="Backimage">
        <img src="../images/Travel2.jpg" height="580px" width="377px">
        <div class="top-left"><b>"Discovering the untold tales of the past"</b></div>
      </div>
      <div class="qoutes">
        <p><I>"History teaches us that even the mightiest can crumble, but their legacy endures.
            Visiting historical places is like time-traveling with your imagination.
            Historical places are where the past and present coexist in harmony, teaching us the art of timelessness"</I></p>
      </div>
        <div class="projects">
            <h2>PROJECTS</h2>
            <ul>
            <li class="hijagang"><a href="http://192.168.26.152:5000/hijagang"><b>Hijagang</b></a></li>
            <br>
            <br>
            <li class="marjing"><a href="http://192.168.26.152:5000/marjing"><b>Marjing Polo Pony</b></a></li>
            </ul>
      </div>
      <div class="contact">
          <h2>CONTACT</h2>
      </div>
</body>
</html>