<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luphou-Nung</title>
    <link rel="stylesheet" href="../stylesheets/style1.css">
</head>
<body>
    <header><b>Luphou-Nung</b></header>
    <p class="welcome"><i>Luphou-Nung of Kangla</i></p>
    <div class="image" >
        <img src="../images/luphounung.webp" height="210px" width="375px">
  </div>
  <div class="title">
    <b>Description</b>
    <p  class="Description"> "Luphou Nung" is a historical gravestone of a Chinese invader, kept inside the Kangla fort in Imphal.
         A Chinese invader named "Moidana" (or "Mayadana") was defeated and slain by Meitei king Mungyamba of Kangleipak (Manipur) 
         kingdom in 1576 A.D. The invader was crushed and buried under the "Luphou Nung" stone.</p>
</div> 
<div class="Story">
    <b>Story</b>
    <p class="stories">From 1220 to 1327 A.D., the Mongols were invading major portion of the World. In the year 1250 A.D. a large number
        of Mongol army from Khangee Leibak (China) invaded Meetei Leibak during the reign of Iningthou Puranthaba. Their leader was Kublai Khan.
        The Khagee army camped on the east bank of the Chindwin river. Iningthou Puranthaba, with a strong Meetei army proceeded against them and 
        encamped on the western side of the Chindwin river. However, the Khagee armies retreated back to their kingdom due to internal conflicts.
        During the reign of Meetei Ningthou Mungyamba in 1576 A.D., the Khagee Ningthou Piyango sent Moidana (or Mayadana) who was a fierce Chinese 
        cannibal. Moidana was an expert in martial art fighter too. Khangee Ningthou Piyango could not control the cannibal. Therefore, he sent Moidana
        to Meetei Leibak to challenge the Meetei King on one-to-one combat.Ningthou Mungyamba accepted the challenge and fought him using his sword name 
        'Khoubomba' and spear 'Khangshunaha'. Moidana was ultimately defeated, killed, crushed and buried under a stone in Kangla. This stone is still found
        inside the Kangla in Meetei Leibak, known as "Lu Phou Nung".
        </p>
</div>
</body>
</html>