<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marjing</title>
    <link rel="stylesheet" href="../stylesheets/style3.css">
</head>
<body>
    <header><b>MARJING POLO PONY</b></header>
    <p class="welcome"><i><b>Welcome to Heingang</b></i></p>
    <div class="title">
    <b><h3 style="background-color: black; color: white; width:150px; padding-left:20px;"> Description</h3></b>
        <p  class="Description"><i><b>Marjing</b></i> ,the God of horses, polo, hockey, sports and war in Meitei mythology
            and religion of Ancient Kangleipak (early Manipur).The guardianship of the north 
            eastern direction is alluded to Marjing and the other directions to<i><b> Koupalu</b></i> (north west), <i><b>Thangching</b></i> 
            (south west) and <i><b>Wangpulen</b></i> (south east).According to the legend, he invented the game
            of polo <i><b>(Sagol Kangjei)</b></i> and introduced it as the national game.He and his divine creature,
            <i><b>Samadon Ayangba</b></i>, reside in the top of the <i>Heingang Ching</i> (Marjing hills).
            <br>
            <br>
            According to the <i><b>Leithak Leikharol PuYa</b></i>, God Marjing (mentioned as <i>"Maraching"</i>) originated from the intestines
            of Atiya Sidaba. He was created to control <i><b>Samadon Ayangba</b></i>, the divine horse (Old Manipuri:<i><b> Sakon</b></i>). The horse was
            created from the foot of <i><b>Ashiba (Sanamahi).</b></i>
            <br>
            God Marjing is one of the five gods who enter into the human body and position themselves as one of the souls.
            Marjing dwells in the heart of human body.The God is also associated with <i><b>Sagol Kangjei</b></i><span id="points">...</span><span id="moreText"> (Polo), the main sports of the
            Meitei people. Parratt says "His main importance in Meitei mythology is that he is credited with the invention of polo, the national game."
            <br>
            <br>
            <i><b>Sagol Kangjei</b></i> (English: Polo) is originally the game of gods. There are 7 players on each side. They used <i><b>Kangdrum</b></i> (a ball made from
             bamboo root). This is what the human beings imitate from them. The first divine polo match was played during the festival of <i><b>Lai Haraoba.</b></i>
             During the <i><b>Lai Haraoba festival</b></i>, a <b>maibi</b> (priestess) performs a ritual in the form of a mime. She holds a mallet in her hand and enacts the game of polo.
            Every year, in the top of the Heingang Hills, devotees offer polostick(Old Manipuri:<b>ꯀꯥꯡꯆꯩ</b>, romanized:<b> kangchei</b>, Meitei:<b>ꯀꯥꯡꯖꯩ</b>,romanized:<b>kangjei</b>) and bamboo-root-ball
            (Meitei:<b>ꯀꯥꯡꯗ꯭ꯔꯨꯝ</b>, romanized:<b>kangdrum</b>) to God Marjing.This is done even when any animal in one's house become sick.
            In 1618 AD, during the reign of <b>King Khagemba</b>, a public worship took place at his abode and also at every watery place on the river side.
            Wild boars, ducks, cocks, hen, pigeons and other creatures were offered to God Marjing. This was recorded in the <i><b>Cheitharol Kumbaba.</b></i>
        </span></p>
        <button onclick="toggleText()" id="textButton"><i>see more</i></button>
    </div>
    <br>
    <div class="image" >
        <img src="../images/marjing2.png" height="280px" width="373px">
  </div>
  <br>
    <div class="construction">
        <b><h3 style="background-color: black; color: white; width:150px; padding-left:20px;">Construction</h3></b>
        <p class="construction">The Marjing Polo Statue (Meitei:<i><b> Marjing Sagol Kangjei Mitam</b></i>) is a colossal classical 
            equestrian statue of a player of Sagol Kangjei (Meitei for 'polo game'), riding a Meitei horse (Manipuri pony),
            constructed at the Marjing Polo Complex, the sacred sports site dedicated to God Marjing, the ancient Meitei deity
            of polo and horses, in Heingang, Imphal East District,<b>Kangleipak</b> (Meitei for 'Manipur'). It is the world's
            tallest statue of a polo player.It is built to commemorate the game of "modern polo" being originated from
            <b>Kangleipak</b> (Meitei for 'Manipur').
            <br>
            The Marjing Polo Statue is 122 feet (37 m) tall. The cost of construction of the statue is ₹39 crore (US$4.9 million).
            The gigantic polo statue stands above a pedestal of a three-storey building, with recreational facilities.[14]
            The statue's inner structure is made of steel and its outer surface is covered by bronze. Its design is prepared by Professor 
            Somnath Ghose of Jadavpur University. Previously, during January-April 2016, the Government of Manipur planned to build the statue 
            with a height of 160 feet (49 m) at the construction cost of ₹12 crore (equivalent to ₹17 crore or US$2.2 million in 2023).
            Prior to the construction of the statue, a roadway was made up to the base of the place where the statue was to be built, for which
             permission was granted to the construction team by the Ministry of Environment and Forest.
        </p>
  </div>
  <div class="image" >
    <img src="../images/marjing1.webp" height="280px" width="375px">
</div>
  <div class="inauguration">
    <b><h3 style="background-color: black; color: white; width:150px; padding-left:20px; padding-top: 7px; height: 25px;">Inauguaration</h3></b>
    <p class="inauguration">On 6 January 2023, the Marjing Polo Statue was inaugurated by Amit Shah, the then Minister of Home Affairs of the Union
        Government of India,in the presence of <b>Nongthombam Biren</b>, the then Chief Minister of Manipur,at a function organised by the 
        Department of Tourism, Government of Manipur.
        <br>
        <br>
        Regarding the inauguration, Amit Shah stated:
        <br>
        <br>
        <b><i>"It is believed that Sagol Kangjei, the modern-day Polo game originated in Manipur.Today,inaugurated a 122 feet Marjing polo statue at the Marjing
        Polo Complex in Imphal.This will surely take the legacy forward and inspire more youngsters toward the game."</i></b>
        <br>
        <br>
        — Amit Shah, 06-01-2023</p>
</div>
<div class="significance">
    <b><h3 style="background-color: black; color: white; width:150px; padding-left:20px; padding-top: 7px; height: 25px;">Significance</h3></b>
    <p class="significance">Nongthombam Biren, the Chief Minister of Manipur, said that the 122 feet tall Marjing polo statue will "highlight the significance of
        the birthplace of Polo and revive the glory of Manipur".He also stressed the significance of the statue, being the tallest and the biggest polo statue,
        inaugurated in recognition of <i><b>Sagol Kangjei, Sagol Lanmi</b></i> (Meitei for 'cavalry'), <i><b>Arambai</b></i> etc</p>
</div>
<script src="../javascript/jscript3.js"></script>
</body>
</html>