/*Luphounung*/
body{
    background-color: lightgray;
    width: 375px;
}
header{
    background-color: whitesmoke;
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 375px;
}
p.welcome{
    text-align: center;
    font-size: small;
}
div.image{
    border-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 375px;
}
div.title{
    background-color: whitesmoke;
    width: 363px;
    text-align:justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.Description{
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
    padding-left: 4px;
    padding-right:5px;
}
div.Story{
    background-color: whitesmoke;
    width: 364px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:justify;
    padding-left: 4px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
p.stories{
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
    padding-left: 5px;
    padding-right: 5px;
    
}